* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

div.App {
  background-color: rgb(236, 165, 118);
  margin-top: 73px;
}
div.detail,
div.ip {
  margin-left: 263px;
}

div.map {
  margin-top: 20px;
  position: relative;
  right: 305px;
  height: 429px;
}

img {
  position: relative;
  bottom: 201px;

  left: 96px;
}
